# Tiny Tapeout 1x1 pin placement for the simplified port map

ui_in[0] left
ui_in[1] left
ui_in[2] left
ui_in[3] left
ui_in[4] left
ui_in[5] left
ui_in[6] left
ui_in[7] left

uio_in[0] top
uio_in[1] top
uio_in[2] top
uio_in[3] top
uio_in[4] top
uio_in[5] top
uio_in[6] top
uio_in[7] top

uo_out[0] right
uo_out[1] right
uo_out[2] right
uo_out[3] right
uo_out[4] right
uo_out[5] right
uo_out[6] right
uo_out[7] right

uio_out[0] bottom
uio_out[1] bottom
uio_out[2] bottom
uio_out[3] bottom
uio_out[4] bottom
uio_out[5] bottom
uio_out[6] bottom
uio_out[7] bottom

uio_oe[0] bottom
uio_oe[1] bottom
uio_oe[2] bottom
uio_oe[3] bottom
uio_oe[4] bottom
uio_oe[5] bottom
uio_oe[6] bottom
uio_oe[7] bottom

ena bottom
clk top
rst_n top
